
.vscode/tasks.json
average.exe
Mad-libs.exe
pyramid.exe
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/Debug/average.o
build/Debug/basic-calculator.o
build/Debug/Mad-libs.o
build/Debug/pyramid.o
bsd_moez-rashed_c-programming/part2/advanced-calculator.exe

.gitignore
bsd_moez-rashed_c-programming/part3/Guessing-game.exe
bsd_moez-rashed_c-programming/part3/Guessing-game.exe
bsd_moez-rashed_c-programming/part3/bsd_moez-rashed_project.exe
bsd_moez-rashed_imageProcessing/task_5/computer vision.PNG
bsd_moez-rashed_imageProcessing/task_5/jhonsmith.jpg
bsd_moez-rashed_imageProcessing/task_6/coral1.jpg
.gitignore
bsd_moez-rashed_imageProcessing/task_6/coral5.jpg
.gitignore
bsd_moez-rashed_imageProcessing/task_6/coral3.jpg
bsd_moez-rashed_imageProcessing/task_6/OneYearImage.jpg
bsd_moez-rashed_imageProcessing/task_6/coral6.jpeg
bsd_moez-rashed_imageProcessing/task_6/coral4.jpg
bsd_moez-rashed_imageProcessing/task_6/coral2.jpg
.gitignore
